<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FBS</title>
	<link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/index">Product <span class="sr-only">(current)</span></a>
                    <a class="nav-link active" href="/list_cate">Cate</a>
                    <a class="nav-link active" href="/list_user">User</a>
                    <a class="nav-link active" href="/add_banner">Banner</a>
                    <a class="nav-link active" href="/list_order">Đặt hàng</a>
                </div>
            </div>
        </nav>
        <div class="main_content">
            <div class="col-lg-10" style="position: absolute;left: 8%;">
                <div class="row m-2 border border-primary">
                <div class="col-lg-8">
                    <form method="post" class="was-validated m-2" action="/create_cate"  enctype="multipart/form-data">
                        <h4>Cập nhật loại</h4>
                            <div class="form-group">
                                <input type="hidden" name="id" class="form-control" placeholder="Nhập Mã sản phẩm"  value="{{cate._id}}" required="">
                            </div>
                            <div class="form-group">
                                    <label>Tên sản phẩm:</label>
                                    <input type="phone" class="form-control" name="name" placeholder="Nhập Tên sản phẩm" value="{{cate.name}}"  required>
                                    <div class="valid-feedback">Ok.</div>
                                    <div class="invalid-feedback">Nhập lại</div>
                            </div>

                            <input type="hidden" name="image" class="form-control" placeholder="Nhập Mã sản phẩm"  value="{{cate.images}}" required="">

                            <div class="rounded-  border border-primary m-2" style="height:100px">
                                        {{!-- <image src="http://localhost:4000/public/photo/{{cate.images}}"  style="width: 50px; height: 50px"> </image> --}}
                                <div class="form-group">
                                    <input
                                        multiple
                                            type="file"
                                            class="form-control-file"
                                            name="file"
                                            value="{{cate.images}}"
                                            id="file"
                                            placeholder="File"
                                            />
                                </div>
                            </div>
                                <button  type="submit" class="btn btn-primary">Thêm</button>
                    </form>
                </div>
                </div>
            </div>  
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>
</html>
