 <!--=============================Table ============================ -->
 <button type="button">
    <a  href="/add_product" class="btn btn-primary">Thêm sản phẩm</a>
</button>
<div class="table-responsive" style="position: absolute" >
    <table class="table v-middle">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0">Images</th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Price</th>
                <th class="border-top-0">Description</th>
                <th class="border-top-0">Cate</th>
                <th class="border-top-0"></th>                                           
            </tr>
        </thead>
            <tbody>
                {{# each productList}}
                <tr>
                    <td>
                        <image src="http://localhost:5000/public/photo/{{image}}"
                                style="width: 50px; height: 50px"></image>
                    </td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>
                        {{description}}
                    </td>
                    <td>{{# each cate}}
                        <p>{{name}}</p>
                            {{/each}}
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" href="/edit_product/{{_id}}">Edit</a>

                        <a class="btn btn-outline-danger" href="/delete_product/{{_id}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</div>

                   