<body>
    <div class="table-responsive">
        <table class="table v-middle table-striped table-bordered" >
            <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Hình ảnh</th>
                    <th class="border-top-0">Tên sản phẩm</th>
                    <th class="border-top-0">Giá</th>
                    <th class="border-top-0">Số lượng sản phẩm</th>       
                    <th class="border-top-0">Giá tổng</th>                                   
                </tr>
            </thead>
                <tbody>
                    {{# each orderDetailsList}}

                    {{# each product}}
                    <tr>
                        <td> <image src="http://localhost:5000/public/photo/{{image}}"
                                    style="width: 100px; height: 100px"></image>
                        </td>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        {{/each}}
                        <td>{{amount}}</td>
                        <td>{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
        </table>
    </div>
</body>
