<body>
     <!--=============================Table ============================ -->
<div class="table-responsive">
    <table class="table v-middle table-striped table-bordered">
        <thead>
            <tr class="bg-light">
                <th class="border-top-0">Id</th>
                <th class="border-top-0">Số lượng sản phẩm</th>
                <th class="border-top-0">Giá</th>
                <th class="border-top-0">Người mua</th>
                <th class="border-top-0">Địa chỉ</th>
                <th class="border-top-0">Trạng thái</th>
                <th class="border-top-0">Thao tác</th>                                           
            </tr>
        </thead>
            <tbody>
                {{# each orderList}}
                <tr>
                    <td>{{idOrder}}</td>
                    <td>{{totalAmount}}</td>
                    <td>{{totalPrice}} VND</td>
                        {{# each user}}
                    <td>{{username}}</td>
                    <td>{{address}}</td>
                        {{/each}}
                    {{!--  --}}
                    <script>
                        var color = "";
                        "{{status}}" === "Accept" ? color = "green" : color = "black";
                        var str =  `<td style="color: ${color}">{{status}}</td>`;
                    </script>
                    <script>
                       document.write(str);
                    </script>
                    {{!--  --}}
                    <td>
                        {{!--  --}}
                         <script>
                            var type = "";
                            "{{status}}" === "Accept" ? type = "hidden" : type = "";
                           
                            var str1 = `<form ${type} action="/accept_order-details" method="post">
                            <input type="hidden" name="idOrder" value="{{idOrder}}">
                            <button type="submit"  class="btn btn-outline-success">Accept</button>
                            </form>`
                        </script>
                        <script>
                            document.write(str1);
                           
                        </script>
                        {{!--  --}}
                        <a class="btn btn-primary m-2" href="/get_order-details/{{idOrder}}">Chi tiết</a>
                        {{!-- <a ="hidden" class="btn btn-outline-danger" href="#">Cancel</a> --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</div>

                   
</body>

